{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block js %}<script src="{{asset('assets/js/scriptLoadActualite.js')}}"></script>{% endblock %}
{% block titleHeader %}Accueil{% endblock %}
{% block body %}
<h2 class="sousTitre">ACTUALITÉ</h2>
            <div class="row" id="actuContainer">

   {% for actu in actus %}

                <div class="containActu col-12 col-md-6 "> 
                    <a href="{{path('actualite', {slug : actu.slug})}}" class="linkActu">
                    <div class="Actu"> 
                        <div class="article row">
                            <img src="\uploads\{{actu.image}}" class="insideArticle col-5"/>
                            <div class="col-7">
                                <h4>{{actu.title}}</h4>
                                <p class="txtActu">{{actu.description}}</p>
                            </div>
                        </div>
                    </div> 
                    </a>
                </div>
   {% endfor %}
              
            </div>
            {# </div> #}
            
            {# <?php if($iterationActu > $iterationMax){ ?> #}
            {% if isButHide == false %} <button type="button" class="btn btn-primary btn-lg RefreshActu" id="refreshBut">Voir plus</button>{% endif %}
            
           
         {# <?php }?> #}
{% endblock %}
