{% extends 'admin.html.twig' %}

{% block title %}Administration-Catégorie réaliations{% endblock %}

{% block header %}{% include "admin/header.html.twig" %}{% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Catégorie</th>
      <th scope="col"><a href="{{path('admin_add_categorie')}}"><button type="button" class="btn btn-success" >add</button></a></th>
    </tr>
  </thead>
  <tbody>
  {% for cate in Categories %}
    <tr class="borderTop">
      <th scope="row">{{cate.id}}</th>
      <td>{{cate.categorie}}</td>
      <td><a href='{{path('admin_modif_categorie',{id:cate.id})}}'><button type="button" class="btn btn-warning" >modif</button></a><a href="{{path('admin_suppr_categorie', {id: cate.id})}}"><button type="button" class="btn btn-danger" >suppr</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}