{% extends 'base.html.twig' %}

{% block title %}Réalisations
{% endblock %}
{% block titleHeader %}Réalisations
{% endblock %}
{% block js %}
	<link rel="stylesheet" href="{{asset('assets/css/styleRealisations.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/styleReal.css')}}">
	<script src="{{asset('assets/js/scriptRealisation.js')}}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Kanit:wght@100;200&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	{% set iteration = 0 %}
	<div class="fakebody">
		<div class="containerCarou">
			{% for real in reals %}
				{% if iteration == 0 %}
					<input type="radio" name="slider" id="item-{{real.id}}" checked>
					{% set iteration = iteration + 1 %}
				{% else %}
					<input type="radio" name="slider" id="item-{{real.id}}">
				{% endif %}
			{% endfor %}
			<div class="cards">
				{% for real in reals %}
					<label class="card" for="item-{{real.id}}" id="song-{{real.id}}">
						<img class="imgCarou" src="/uploads/{{real.image1}}" alt="song">
					</label>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="titleMain">
		<h1>Toutes nos réalisations</h1>
	</div>
	<div class="main">
		<div class="row">
			{% for real in reals %}
				<div class="column nature">
					<div class="content">
						<a href="{{ real.linkWeb }}" target="_blank"><img src="/uploads/{{real.image1}}" alt="Mountains" style="width:100%"></a>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
