<!DOCTYPE html>

<html>
	<head>
		<title>
			{% block title %}TitanStudios
			{% endblock %}
		</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="{{asset('assets/img/Logo_TITANStudios_BLACK.png')}}">

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet" type="text/css">
		<script src="https://kit.fontawesome.com/de97e88153.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="{{asset('assets/css/styleHeaderFooter.css')}}">
		<script src="{{asset('assets/js/script.js')}}"></script>
		{% block js %}{% endblock %}
	</head>


	<body>

		{# Header #}
		<header>
			<nav class="navHeader navbar navbar-expand-md navbar-light">

				<a href="{{path("home")}}"><img src="{{asset('assets/img/Logo_TITANStudios_WHITE.png')}}" class="logo"/></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
					<ul class="nav navbar-nav nav-pills">

						<li class="nav-item">
							<a class="nav-link" href="{{path("home")}}">
								<button class="dropbtn">ACCUEIL</button>
							</a>
						</li>
						<li class="nav-item">
							<div class="dropdown" id="dropdownMenu">
								<a class="nav-link" href="{{path("realisations")}}">
									<button class="dropbtn">RÉALISATIONS</button>
								</a>
								<div class="dropdown-content">

									{% if highlight is defined %}

										{% for key,item in highlight %}
											{% if key == 0 %}
												<a href="{{path('realisations')}}#realisation{{item.id}}">{{item.title}}</a>
											{% else %}
												<a href="{{path('realisations')}}#realisation{{item.id}}" class="borderedTop">{{item.title}}</a>
											{% endif %}


										{% endfor %}

									{% endif %}
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("equipe")}}">
								<button class="dropbtn">A PROPOS</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("contact")}}">
								<button class="dropbtn">CONTACT</button>
							</a>
						</li>


					</ul>
				</div>


			</nav>
		</header>

		{# Body #}

		{# <div> 
						{% block body %}{% endblock %}
						</div> #}
		{% block body %}{% endblock %}

		{# Footer #}
		<footer>
			<div class="center">
				<a href="{{path("contact")}}" class="linkFooter">Contact</a>
				<a href="{{path("mentions_legales")}}" class="linkFooter">Mentions Légales</a>
			</div>

		</footer>
	</body>

</html>
