{% extends 'base.html.twig' %}

{% block title %}Équipe{% endblock %}
{% block titleHeader %}Le studio{% endblock %}

{% block body %}
{# <p class="presentationTitan">Presentation</p> #}
            
            <div class="row">
    {% set nbEquipe = 0 %}
    {% for equipe in equipes %}
        {% set nbEquipe = nbEquipe+1 %}
        {% if nbEquipe %2 !=0 %}
        <div class="card col-12 col-sm-6 col-md-5">
        {% else %}
        <div class="card col-12 col-sm-6 col-md-5 ml-auto presentationBody">
        {% endif %}

        <img src="/uploads/{{equipe.image}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{equipe.lastName}} {{equipe.name}} - {{equipe.role}}</h5>
                    <p class="card-text">{{equipe.description}}</p>
                    </div>
                        </div>
        
    {% endfor %}
            
                
            </div>
{% endblock %}
