{% extends 'base.html.twig' %}

{% block title %}Équipe
{% endblock %}
{% block titleHeader %}Le studio
{% endblock %}
{% block js %}
	<link rel="stylesheet" href="{{asset('assets/css/Apropos.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="PicsHolder">
		<div class="Photo">
			<img src="{{asset('assets/img/thibaut.jpg')}}" alt="" class="pp">
			<div class="Boldfont nametext  CenterContent">
				Thibaut BAREL
			</div>
		</div>
		<div class="Photo">
			<img src="{{asset('assets/img/tanguy.png')}}" alt="" class="pp">
			<div class="Boldfont nametext  CenterContent ">
				Tanguy AUGRAS</div>
		</div>
	</div>
	<div class="Bottom">
		<div class="VioletSquare basefont">
			Notre équipe vous accompagne de la mise en forme de votre idée jusqu'à la mise en ligne de votre site internet, via CMS (Prestashop, Wordpress...), ou totalement sur mesure. Nous sommes à l'écoute de vos besoins pour vous proposer la meilleure solution, qu'il s'agisse d'un simple site vitrine ou d'une boutique en ligne. Nous intervenons aussi dans le cadre de maintenances et refontes de sites existants.
			<img src="{{asset('assets/img/icon_web.png')}}" alt="" class="Webicon2">
		</div>
		<div class="VioletSquare basefont">
			<img src="{{asset('assets/img/icon_vr_ar.png')}}" alt="" class="Webicon2">
			De la simple utilisation d'un QR code, à la reconnaissance d'objets ou d'images, nous pouvons développer pour vous des solutions en AR / WebAR : cartes de visites interactives, visualisation d'objets dans l'environnement réel Nos compétences en développement d'application en réalité virtuelle nous permettent de vous proposer des solutions pour tous vos projets en réalité virtuelle : jeux vidéo, expériences immersives, formations ludiques...
		</div>
		<div class="VioletSquare basefont">
			Nous vous accompagnons dans l'utilisation des jeux vidéo pour l'apprentissage et la formation en interne (serious game, gamification), mais aussi l'application commerciale et marketing du jeu. Enfin, grâce à notre maîtrise des logiciels de productions Unity et Unreal Engine, nous pouvons aisément mener à bien vos projets de jeux.
			<img src="{{asset('assets/img/icon_games.png')}}" alt="" class="Webicon2">
		</div>
	</div>
	<div class="bottomestbottom">
		<p class=" basefont ThrustTitle">
			 ILS NOUS ONT FAIT CONFIANCE :
		</p>
		<div class="IconHolder">
			<a href="https://www.chateaudepressac.com/" target="blank" rel="noopener" class="NoDecoration ">
				<div class="box">
					<img src="{{asset('assets/img/Pressac_logo.png')}}" alt="" class="ThrustIcon">
				</div>
			</a>
			<a href="https://www.imprimerie-berjon.com/" target="blank" rel="noopener" class="NoDecoration ">
				<div class="box">
					<img src="{{asset('assets/img/Berjon.jpg')}}" alt="" class="ThrustIcon">
				</div>
			</a>
			<a href="https://www.exceptio.fr/" target="blank" rel="noopener" class="NoDecoration ">
				<div class="box">
					<img src="{{asset('assets/img/exceptio studio.jpg')}}" alt="" class="ThrustIcon">
				</div>
			</a>
		</div>
	</div>
{% endblock %}
