{% extends 'admin.html.twig' %}

{% block title %}Administration-Actualité{% endblock %}

{% block header %}{% include "admin/header.html.twig" %}{% endblock %}

{% block body %}
  <table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">titre</th>
      <th scope="col">slug</th>
      <th scope="col">description</th>
      <th scope="col">texte</th>
      <th scope="col">image</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    <tr class="borderTop">
      <th scope="row">{{actu.id}}</th>
      <td>{{actu.title}}</td>
      <td>{{actu.slug}}</td>
      <td>{{actu.description}}</td>
      <td>{{actu.text}}</td>
      <td>{{actu.image}} <br> <img src="\uploads\{{actu.image}}" class="img-fluid img-show"></td>
      <td>{{actu.createdAt|date("d/m/Y-H:i:s")}}</td>
    </tr>
  </tbody>
</table>

<div class="container site">
<hr>
  <h2 class="TitleDelete">Etes vous sur de vouloir supprimer cet actualité?</h2>
  {{form(form)}}
</div>

{% endblock %}